.container {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  height: 100vh;
}

.main {
  padding: 2.56rem;
  /* flex: 1; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.randomText {
  overflow: hidden;
}
